html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Anek', sans-serif;
    text-decoration: none;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}
