@media (max-width:767px) {
    .header .header-container {
        padding: 20px 40px 10px 70px;
    }
}

@media (max-width:625px) {
    .header .header-container img {
        width: 40px;
        padding-bottom: 10px;
        padding-right: 5px;
    }
}

@media (max-width:428px) {
    .header .header-container {
        padding: 20px 40px 10px 30px;
    }
}

/* MAIN */

@media (min-device-width: 1025px) and (max-width: 1201px) {
    .main {
        height: calc(580px - 82px);
        min-height: 480px;
    }

    .main .conteudo-main {
        width: 80vw;
        height: 50vh- 82px;
        font-size: 2rem;

    }

    .main .conteudo-main p {
        width: 80%;
        font-size: 1.8rem;

    }

    .main .button-p {
        position: absolute;
        bottom: 20%;
        left: 8%;
    }

    .main::after {
        position: absolute;
        height: 55px;
        bottom: 15%;
        left: 3%;
        animation: downarrow 0.6s infinite alternate ease-in-out;
    }
}

@media (min-device-width: 769px) and (max-width: 1024px) {
    .header .header-container {
        padding: 20px 40px 10px 20px;
    }

    .main {
        height: 580px;
        min-height: 400px;
    }

    .main>img {
        position: relative;
        opacity: 0.3;
        /* display: none; */
    }

    .main .conteudo-main {
        width: 80%;
        display: block;
        height: calc(100vh - 82px);
        padding: 10px 10px 10px 40px;
        font-size: 2rem;
    }

    .main .conteudo-main h1 {
        padding-right: 30px;
    }

    .main .button-p {
        bottom: 5%;
        width: 80%;
        bottom: 15%;
    }

    .main button {
        padding-left: 5px;
        padding-bottom: 15px;
    }

    .main button img {
        top: 6px;
    }

    .main .button-p .button-p-11,
    .button-p-22 {
        height: 49px;
        width: 160px;
        padding-left: 30px;
    }
}

@media (min-device-width: 575px) and (max-width: 768px) {
    .main {
        height: 800px;
    }
    .main .conteudo-main {
        font-size: 2rem;
        width: 70%;
    }

    .main .button-p .button-p-11,
    .button-p-22 {
        height: 49px;
        width: 160px;
        padding-left: 30px;
    }
}

@media (min-device-width: 436px) and (max-width: 575px) {
    .main {
        height: calc(400px - 82px);
        min-height: 380px;
    }

    .main > img {
        display: none;
    }

    .main .conteudo-main {
        width: 100%;
        height: calc(100vh - 82px);
        padding: 10px 10px 10px 40px;
        text-align: center;
        height: 100%;
        min-height: 100%;
    }

    .main .conteudo-main h1 {
        font-size: 3rem;
    }

    .main .conteudo-main p {
        font-size: 2.5rem;
        text-align: center;
        width: 90%;
    }

    .main button {
        padding-left: 0px;
        padding-bottom: 10px;
    }

    .main .button-p {
        bottom: 5%;
        display: flex;
        left: 15%;
        justify-content: center;
        align-items: center;
    }

    .main .button-p .button-p-11,
    .button-p-22 {
        height: 39px;
        width: 150px;
        bottom: 5%;
        font-size: 1.2rem;
        padding-left: 5px;
    }

    .main button img {
        height: 24px;
    }

    .main::after {
        display: none;
    }

}

@media /*(min-device-width: 300px) and*/ (max-width: 435px) {
    main {
        height: 420px;
    }
    .main {
        height: auto;
        min-height: 420px;
    }
    .main > img {
        display: none;
    }

    .main .conteudo-main {
        width: 100%;
        height: 100%;
        padding: 10px 10px 10px 10px;
    }
  

    .main .conteudo-main h1 {
        font-size: 2.8rem;
        text-align: center;
        padding-right: 0;
    }

    .main .conteudo-main p {
        flex-wrap: wrap;
        font-size: 2.3rem;
        text-align: center;
        padding-left: 25px;
    }

    .main button {
        padding-left: 0px;
        padding-bottom: 10px;
    }
    .main button img {
        top: 8px;
    }
    .main .button-p {
        bottom: 1%;
        left: 15%;
    }

    .main .button-p .button-p-11,
    .button-p-22 {
        bottom: 5%;
        width: 100px;
        height: 49px;
        width: 90px;
        font-size: 1.2rem;
        padding-bottom: 11px;
        padding-left: 0%;
    }

    .main .button-p .button-p-11 > img,
    .button-p-22 > img {
        width: 20px ;
        /* top: 4px; */
    }

}

/* SECTIONS 2 */

@media (min-device-width: 1025px) and (max-width: 1200px) {

    .segunda-sessao {
        height: 100%;
    }

    .segunda-sessao img {
        display: none;
    }

    .segunda-sessao .button-download {
        bottom: 15%;
    }
}

@media (min-device-width: 769px) and (max-width: 1024px) {
    .segunda-sessao {
        height: 100%;
    }
    .segunda-sessao .bloco {
            text-align: center;
        }
        
    .segunda-sessao img {

        position: relative;
        display: none;
    }

    .segunda-sessao h2 {
        padding: 20px 10px 20px 20px;
        position: relative;
    }

    .segunda-sessao p {
        padding: 20px;
        width: 70%;
    }

    .segunda-sessao .button-download {
        bottom: 5%;
        bottom: 5%;
        height: 59px;
        width: 190px;
        font-size: 2.0rem;

    }
}

@media (min-device-width: 476px) and (max-width: 768px) {
    .segunda-sessao h2 {
        font-size: 3rem;
        width: 70%;
    }
    .segunda-sessao p {
        font-size: 3rem;
        font-size: 2.5rem;
        width: 60%;
    }

    .segunda-sessao img {
        display: none;
    }
    .segunda-sessao .button-download {
        height: 39px;
        width: 190px;
        font-size: 2.0rem;
    }
}

@media (min-device-width: 300px) and (max-width: 475px) {
    .segunda-sessao h2 {
        font-size: 2.5rem;
        width: 70%;
    }
    .segunda-sessao p {
        font-size: 3rem;
        font-size: 2rem;
        width: 60%;
    }
    .segunda-sessao .button-download {
        height: 39px;
        width: 190px;
        font-size: 1.8rem;
    }
    .segunda-sessao img {
        display: none;
    }
}
/* SECTION 3 */

@media (max-width: 900px) {
    .terceira-sessao img {
        display: none;
    }

    .terceira-sessao .conteudo-main-3 {
        width: 100vw;
        background-color: #E5E5E5;
        text-align: center;
    }

    .terceira-sessao .button-p {
        bottom: 10%;
    }
}

@media (max-width: 765px) {
    .terceira-sessao .button-download {
        height: 39px;
        width: 190px;
        background-color: rgb(15, 15, 15);
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .terceira-sessao h2 {
        padding-left: 35px;
    }

    .terceira-sessao p {
        padding-left: 38px;
    }

    .terceira-sessao .conteudo-main-3 {
        padding: 5px;
    }

    .terceira-sessao .button-download {
        top: 40%;
    }

    .terceira-sessao .button-p {
        left: 15%;
    }
}

/* SECTION 4 */
@media (max-width: 1025px) {
    .quarta-sessao {
        width: 100%;
        text-align: center;
        min-height: 450px;
        background-color: rgba(245, 245, 245, 0.1);
    }

    .quarta-sessao img {
        display: none;
    }

    .quarta-sessao .informacoes {
        width: 100%;
        overflow: hidden;
    }

    .quarta-sessao .conteudo-main-4 {
        padding: 0px;
        width: 100%;
        /* height: 75vh; */
        height: 600px;
    }

    .quarta-sessao h2 {
        padding: 30px;
    }

    .quarta-sessao .paragrafo-financeiro {
        position: relative;
        padding-left: 5%;
    }

    .quarta-sessao .button-download {
        position: absolute;
        bottom: 20%;
    }
}

@media (max-width: 767px) {
    .quarta-sessao .button-download {
        height: 39px;
        width: 190px;
        font-size: 2rem;
    }
}

@media (max-width: 475px) {
    .quarta-sessao .conteudo-main-4 {
        padding: 30px auto auto 10px;
    }

    .quarta-sessao .informacoes {
        width: 100;
        overflow: hidden;
    }

    .quarta-sessao h2 {
        font-size: 4rem;
        padding: 15px;
    }

    .quarta-sessao .button-download {
        position: absolute;
        bottom: 20%;
        /* left: 20%; */
    }
}

/* QUINTA SECTION */

@media (min-device-width: 768px) and (max-width: 1024px) {
    .quinta-sessao .informacoes {
        position: relative;
        width: 100%;
        border-radius: 0px;
        text-align: center;
    }

    .quinta-sessao .button-p {
        padding-left: 0;
        padding-left: 0%;
    }
}

@media (min-device-width: 575px) and (max-width: 767px) {
    .quinta-sessao {
        height: 550px;
    }

    .quinta-sessao .informacoes {
        position: relative;
        width: 100vw;
        border-radius: 0px;
        text-align: center;
        min-height: 400px;
    }

    .quinta-sessao .button-p {
        padding-left: 0%;
    }
    .quinta-sessao .button-download {
        height: 39px;
        width: 190px;
        font-size: 2rem;
    }

}

@media (min-device-width: 300px) and (max-width: 574px) {
    .quinta-sessao {
        height: 400px;
        text-align: center;
    }

    .quinta-sessao .informacoes {
        height: none;
        width: 100vw;
        border-radius: 0px;
        min-height: 400px;
    }

    .quinta-sessao .button-p {
        padding-left: 0%;
    }
    .quinta-sessao .button-download {
        bottom: 5%;
        left: 10%;
        height: 39px;
    }
}

/* SEXTA SECTION*/
@media (min-device-width: 576px) and (max-width: 1025px) {
    .sexta-sessao .quadros {
        height: 220px;
    }

    .sexta-sessao .quadros img {
        width: 45px;
    }
}

@media (min-device-width: 376px) and (max-width: 575px) {
    .sexta-sessao {
        padding-top: 20px;
        text-align: center;
        padding-bottom: 10%;
    }

    .sexta-sessao h3 {
        font-size: 2rem;
    }

    .sexta-sessao .bloco-informacoes {
        display: block;
        align-items: center;
        width: 100%;
        height: 50px;
    }

    .sexta-sessao .quadros {
        flex-wrap: wrap;
        width: 80%;
        height: 140px;
        padding: auto;
        margin: 10%;
    }
    .sexta-sessao .quadros img {
        width: 45px;
    }
}


@media (min-device-width: 300px) and (max-width: 375px) {
    .sexta-sessao {
        text-align: center;
    }

    .sexta-sessao h3 {
        font-size: 1.8rem;
    }
    .sexta-sessao .bloco-informacoes {
        display: block;
        align-items: center;
        width: 100%;
        height: 50px;
    }
    .sexta-sessao .quadros {
        height: 150px;
        width: auto;
    }
    
    .sexta-sessao .quadros img {
        width: 45px;
    }

}

/* SETIMA SECTION*/


@media (max-width:1199px) {
    .setima-sessao .informacoes {
        padding-left: 10%;
    }
}

@media (max-width: 767px) {
    .setima-sessao {
        padding: 15%;
    }

    .setima-sessao .informacoes h2 {
        font-size: 3rem;
    }

    .setima-sessao .informacoes p {
        font-size: 2rem;
    }

    .informacoes p,
    .setima-sessao .button-p {
        padding: 30px;
    }

    .setima-sessao .button-d .button-d-1,
    .button-d-2 {
        width: 130px;
        height: 49px;
        width: 200px;
    }
}

@media (min-device-width: 426px) and (max-width: 589px) {
    .setima-sessao {
        padding: 20%;
    }

    .setima-sessao .informacoes {
        padding-top: 30px;
    }

    .setima-sessao .informacoes h2 {
        text-align: center;
    }

    .setima-sessao .informacoes p {
        font-size: 2rem;
        padding: 5px;
        text-align: center;
    }

    .setima-sessao .button-d {
        padding: 25%;
    }

    .setima-sessao .button-d .button-d-1,
    .button-d-2 {
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding-bottom: 1px;
    }

    .setima-sessao .button-d img {
        top: -2px;
        left: 5px;
    }
}

@media (min-device-width: 320px) and (max-width: 425px) {

    .setima-sessao .informacoes {
        padding-top: 5px;
    }

    .setima-sessao .button-d {
        padding: 15%;
    }

    .setima-sessao .button-d .button-d-1,
    .button-d-2 {
        padding-bottom: 0px;

    }
}

/* OITAVA SECTION*/
@media (max-width:825px) {
    .oitava-sessao .conteudo-main-8 .conteudo .faq {
        padding-left: 1%;
    }
    .oitava-sessao .conteudo-main-8 .conteudo .faq-h2 {
        padding-left: 1%;
        font-size: 3rem;
        text-align: center;
    }
}

@media (max-width:475px) {
    .oitava-sessao .conteudo-main-8 {
        margin: 25px 25px;
        padding: 0;
    }

    .oitava-sessao .conteudo-main-8 .conteudo {
        padding-top: 10px;
    }

    .oitava-sessao .conteudo-main-8 .conteudo .faq-h2 {
        font-size: 3rem;
    }

    .oitava-sessao .conteudo-main-8 .conteudo .faq-p {
        font-size: 2rem;
    }

    .oitava-sessao .itens .item .pergunta {

        font-size: 1.5rem;
        width: 90%;
        font-family: 'Arial Rounded MT Bold';
        font-weight: 500;
    }
}

@media (max-width:320px) {
    .oitava-sessao {
        height: 80vh;
    }
}

::placeholder {
    justify-content: center;
    align-items: center;
    padding: auto;
    font-size: 1.2rem;
    color: #FFF;
}

/* footer */

@media (min-device-width: 300px) and (max-width: 775px) {
    footer {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .wrapper {
        display: block;
        width: 100%;
    }

    .footer-box {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-box img {
        width: 30%;
    }

    .company-footer .social a {
        justify-content: center;
        align-items: center;
    }

    .newslatter {
        position: relative;
        min-height: 150px;
    }

    .newslatter-info {
        display: block;
        width: 100%;
        height: 25vh;
        text-align: center;
    }

    .newslatter-info h2 {
        width: 100%;
        line-height: 20px;
    }

    .newslatter-info p {
        font-size: 1rem;
        line-height: 12px;
    }

    .newslatter-info.inputs {
        position: absolute;
        top: 60%;
        height: 30px;
    }

    .newslatter-info input {
        height: 30px;
        margin: 3px;
    }

    .newslatter-info .button-email {
        padding-left: 7px;
        width: 60%;
    }

    .newslatter-info {
        padding-left: 7px;
    }

    .newslatter-info .button-sign {
        padding-left: 0px;
        width: 30%;
    }
}


